<?xml version="1.0"?>
<model>
  <name>moon</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Clearpath Robotics</name>
  </author>

  <description>
    Moon terrain mesh for lunar simulation
  </description>
</model></content>
<parameter name="filePath">/ws/src/clearpath_simulator/clearpath_gz/meshes/moon/model.config